Repository InformedSolutions/JAQU-CAZ-MOD-UI, pull requests merged in 2020-10, with the labels that each got.

#240 Enable S3 connection on local environment through STS Assume Role
  .env.example
  .env.test
  .rubocop.yml
  .ruby-version
  Dockerfile.build
  Dockerfile.test
  Gemfile
  Gemfile.lock
  README.md
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/jobs/application_job.rb
  app/services/base_service.rb
  app/services/cognito/client.rb
  config/initializers/amazon_s3.rb
  config/initializers/aws_custom_logger.rb
  config/initializers/aws_ses.rb
  config/initializers/null_db_adapter_monkey_patches.rb
  config/initializers/webpacker.rb
  lib/custom_logger.rb
  package.json
  sonar-project.properties
  spec/api_wrappers/register_checker_api_spec.rb
  spec/mailers/upload_mailer_spec.rb
  spec/models/confirm_reset_password_form_spec.rb
  spec/models/new_password_form_spec.rb
  spec/models/reset_password_form_spec.rb
  spec/rails_helper.rb
  spec/requests/errors_spec.rb
  spec/services/cognito/auth_user_spec.rb
  spec/services/cognito/client_spec.rb
  spec/services/cognito/forgot_password/confirm_spec.rb
  spec/services/cognito/forgot_password/get_user_spec.rb
  spec/services/cognito/forgot_password/rate_limit_verification_spec.rb
  spec/services/cognito/forgot_password/reset_spec.rb
  spec/services/cognito/forgot_password/update_user_spec.rb
  spec/services/cognito/get_user_spec.rb
  spec/services/cognito/lockout/attempt_user_unlock_spec.rb
  spec/services/cognito/lockout/is_user_locked_spec.rb
  spec/services/cognito/lockout/update_user_spec.rb
  spec/services/cognito/lockout/user_data_spec.rb
  spec/services/cognito/lockout/verify_invalid_logins_spec.rb
  spec/services/cognito/respond_to_auth_spec.rb
  spec/services/csv_upload_service_spec.rb
  spec/services/email_validator_spec.rb
  spec/services/ses/send_success_email_spec.rb
  spec/spec_helper.rb
  yarn.lock
Labels: ruby

#248 Bump ruby and libs
  .rubocop.yml
  .ruby-version
  Dockerfile.build
  Dockerfile.test
  Gemfile
  Gemfile.lock
  config/application.rb
  config/cucumber.yml
  config/initializers/aws_custom_logger.rb
  config/initializers/null_db_adapter_monkey_patches.rb
  config/initializers/remote_authenticatable.rb
  features/support/login_helpers.rb
  spec/rails_helper.rb
Labels: ruby

#249 Promote MOD v1.5.0 to Pre-Prod
  .drone2.yml
  .env.example
  .env.test
  .rubocop.yml
  Dockerfile.build
  Dockerfile.test
  Gemfile.lock
  app/api_wrappers/register_checker_api.rb
  app/controllers/concerns/.keep
  app/controllers/passwords_controller.rb
  app/models/concerns/.keep
  app/services/cognito/auth_user.rb
  app/services/cognito/client.rb
  app/services/cognito/cognito_base_service.rb
  app/services/cognito/lockout/attempt_user_unlock.rb
  app/services/cognito/lockout/is_user_locked.rb
  app/services/cognito/lockout/update_user.rb
  app/services/cognito/lockout/user_data.rb
  app/services/cognito/lockout/verify_invalid_logins.rb
  app/services/cognito/respond_to_auth_challenge.rb
  app/services/csv_upload_service.rb
  app/views/layouts/_cookie_control.html.erb
  app/views/passwords/_errored_field.html.haml
  app/views/passwords/confirm_reset.html.haml
  app/views/passwords/new.html.haml
  config/application.rb
  config/environments/production.rb
  config/initializers/amazon_s3.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/null_db_adapter_monkey_patches.rb
  config/initializers/webpacker.rb
  config/locales/en.yml
  config/puma.rb
  config/routes.rb
  features/account_lockout.feature
  features/force_password_change.feature
  features/password_reset.feature
  features/step_definitions/account_lockout_steps.rb
  features/step_definitions/helper_steps.rb
  features/step_definitions/password_reset_steps.rb
  features/step_definitions/upload_steps.rb
  features/upload.feature
  lib/assets/.keep
  lib/tasks/.keep
  package.json
  sonar-project.properties
  spec/requests/passwords/change_spec.rb
  spec/services/cognito/client_spec.rb
  spec/services/cognito/lockout/attempt_user_unlock_spec.rb
  spec/services/cognito/lockout/is_user_locked_spec.rb
  spec/services/cognito/lockout/update_user_spec.rb
  spec/services/cognito/lockout/user_data_spec.rb
  spec/services/cognito/lockout/verify_invalid_logins_spec.rb
  spec/services/csv_upload_service_spec.rb
  yarn.lock
Labels: MOD v1.5.0, release

#255 Add tests, code documentation check and api errors support
  .env.example
  .gitignore
  Gemfile
  Gemfile.lock
  app/api_wrappers/base_api.rb
  app/api_wrappers/register_checker_api.rb
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/models/new_password_form.rb
  app/services/cognito/cognito_base_service.rb
  app/services/ses/send_success_email.rb
  app/views/errors/service_unavailable.html.haml
  config/routes.rb
  spec/api_wrappers/register_checker_api_spec.rb
  spec/requests/errors_spec.rb
  spec/requests/sign_in_spec.rb
  spec/requests/upload_spec.rb
  spec/spec_helper.rb
Labels: documentation, ruby
